.home {
	margin-top: 20px;
}

.fechas {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.fecha {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	cursor: pointer;
}

.active {
	border-bottom: 1px solid var(--color-secondary);
}

.fecha h2 {
	font-size: 20px;
	text-transform: uppercase;
	font-weight: normal;
}

.fecha h3 {
	font-size: 20px;
	text-transform: uppercase;
	font-weight: normal;
}

.competition {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 40px;
	background-color: var(--color-border);
	padding: 20px;
	gap: 20px;
}

.competition.result {
	margin-top: 20px !important;
}

.competition h1 {
	font-size: 24px;
	font-weight: normal;
	text-transform: uppercase;
}

.competition img {
	width: 30px;
}

.match {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	border-bottom: 2px solid var(--color-border);
	padding: 10px;
}

.match .teams {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	gap: 20px;
}

.match .teams span {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 80px;
}

.teamHome {
	display: flex;
	flex-direction: row;
	justify-content: right;
	width: 100%;
	align-items: center;
	gap: 10px;
}

.teamAway {
	display: flex;
	width: 100%;
	justify-content: left;
	align-items: center;
	gap: 10px;
}

.match .team img {
	width: 2rem;
	height: 2rem;
}

.match .team h3 {
	font-size: 20px;
	font-weight: normal;
	text-transform: uppercase;
}

.match h2 {
	font-weight: normal;
}

@media (max-width: 600px) {
	.fechas {
		flex-wrap: wrap;
	}
}
