@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
	--color-primary: #0f39b8;
	--color-secondary: #ff6666;
	--color-third: #545454;
	--color-border: #dddddd;
	--font-title: 'Oswald', sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	min-height: 100vh;
	font-family: 'Roboto', sans-serif;
}

#root {
	min-height: 100vh;
}
